<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nativesavannah.dundundun" version="0.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DunDunDun</name>
    <description>
        A sample app to add more drama to your life.
    </description>
    <author email="hello@nativesavannah.com" href="http://nslabs.co">
        NS Labs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="cordova-plugin-media" spec="~2.4.0" />
    <engine name="android" spec="~5.2.2" />
</widget>
